@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

:root {
    --font: 'Press Start 2P', sans-serif;
    --secondary-font: 'VT323', sans-serif;
    --background-color: #252525;
    --hover-color: #30aaa1;
    --card-background: #040203;
    --white: #fff;
}

html {
    margin: 0 auto;
}

body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    background-color: var(--background-color);
}